@model Human

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human</title>
</head>
<body>
    <h1>Welcome to the Human side of Life</h1>
    <h2>Our Newly Created Human</h2>
    <h2>@Model.Name</h2>
    <h2>@Model.Type</h2>
    <h3>@Model.Food</h3>
    <h3>@Model.Age</h3>
    <h4>@Model.Height</h4>
</body>
</html>