@{
    ViewData["Title"] = "Home Page";
}
@model User
<a href="/logout">Logout</a>

<h1>Welcome, @Context.Session.GetString("FirstName")!</h1>

<h2>@Model.FirstName @Model.LastName</h2>
<h3>@Model.Username & @Model.Email</h3>
<h3>@Model.Birthday</h3>
